.description {
  @apply px-3;
  @apply sm:text-base;
  @apply md:text-sm;
  @apply font-inter;
  @apply text-white;

  p {
    margin-bottom: 1rem;
    line-height: 1.5;
    text-align: start;

    button {
      align-self: center;
    }
  }

  ul {
    list-style: disc;
  }

  strong, em {
    @apply font-mogra;
    @apply text-yellow-400;
    font-size: 110%;
  }

  em {
    @apply text-pink-400;
  }
}
