.description {
  @apply px-3;
  @apply sm:text-base;
  @apply md:text-sm;
  @apply font-inter;

  p {
    margin-bottom: 1rem;
    line-height: 1.5;
  }

  ul {
    list-style: disc;
  }

  strong {
    @apply font-mogra;
    @apply text-pink-300;
    font-size: 110%;
  }
}
